  .footer {
    background-color: black;
    color: white;
    height:24px; 
    width: 100%; 
    display: flex;
    justify-content: space-around;
    background-attachment: scroll;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    font-size: small;
}   

